[Unit]
Description=Gunicorn server manager
After=network.target nss-lookup.target
[Service]
User=root
Group=root
WorkingDirectory=/root/src
PIDFile=gunicorn.pid
ExecStart=/root/wlftool/bin/gunicorn app:app --config /root/src/gunicorn.conf.py

[Install]
WantedBy=multi-user.target