<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Loves Folklore | Dedicated to Folklore</title>
    <meta name="description" content="Wiki Loves Folklore is an international 
    photographic contest organized by Wikimedia community to document folk 
    cultures in different regions of the world."  />
    <meta name="keywords" content="Wiki Loves Folklore, Wikimedia Commons, Wikimedia Foundation" />
</head>
<body>
    This is a list of tools that are developed by/for/under Wiki Loves Folklore Project.
    In order to access the tools, you need to login with your Wikimedia account.
    Please click on the following button to login.
    By Logging in, you agree to the <a href="https://meta.wikimedia.org/wiki/Wiki_Loves_Folklore/Privacy_policy">Privacy Policy</a> of this tool.
    We are currently working on the following tools:
    <ul>
        <li>
            <p>
                <a href="/tuktukbot">Wiki Loves Folklore Interface</a> : This tool is used to generate a list of folklore-related articles for a given country. It is based on the category tree of the home wiki of the user.
            </p>
        </li>
    </ul>
    {% if stats %}
        <ul>
            <li>Total Registered user: {{stats['registered_user_count']}}</li>
            <li>Total Tasks : {{stats['total_tasks']}}</li>
            <li>Total Articles : {{stats['total_articles_served']}}</li>
            <li>Total Categories : {{stats['total_categories']}}</li>
        </ul>
        {% endif %}
</body>
</html>