<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service | FnF</title>
</head>

<body>
    <p>
    <h2>1. Acceptance of Terms</h2>
    By accessing and using tools.wikilovesfolklore.org (“the Website”), you agree to comply with and be bound by the
    following terms and conditions.
    </p>
    <p>
    <h2>2. Partnership</h2>
    The Website is developed through a mutual partnership between the Wiki Loves Folklore international team and Project
    Korikath.
    </p>
    <p>
    <h2>3. Location of Servers</h2>
    The servers hosting the Website are located in India, and therefore, the Website is governed by the applicable laws
    and regulations of India.
    </p>
    <p>
    <h2>4. Compliance with Wikimedia Foundation Policies</h2>
    Users of the Website are required to comply with all relevant policies and guidelines set forth by the Wikimedia
    Foundation. Any content or actions that violate these policies will be subject to appropriate action, including but
    not limited to content removal and user bans.
    </p>
    <p>
    <h2> 5. Content Licensing</h2>
    Unless otherwise noted, all content hosted on the Website is licensed under the Creative Commons
    Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0). Users are free to share and adapt the content,
    provided they give appropriate credit, provide a link to the license, and indicate if changes were made.

    </p>
    <p>
    <h2>6. Software Licenses</h2>
    The Website is developed using various software tools that are licensed under different licenses. Users are required
    to comply with the terms and conditions of these software licenses in relation to any software components they
    interact with or use on the Website.
    </p>
    <p>
    <h2>7. User Conduct</h2>
    Users are expected to conduct themselves in a respectful and lawful manner while using the Website. Any form of
    harassment, discrimination, or inappropriate behavior will not be tolerated.
    </p>
    <p>
    <h2>8. Liability</h2>
    The Website, its partners, and contributors shall not be liable for any direct, indirect, incidental, special,
    consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data,
    or other intangible losses resulting from the use or inability to use the Website.
    </p>
    <p>
    <h2>9. Modifications to Terms of Use</h2>
    We reserve the right to modify these Terms of Use at any time, and it is the user’s responsibility to review them
    regularly for any changes. Continued use of the Website following any modifications constitutes acceptance of the
    updated Terms of Use.
    </p>
    <p>
    <h2>10. Contact</h2>
    For any queries or clarifications regarding these Terms of Use, please contact us at <a
        href="mailto:tools@wikilovesfolklore.org">tools@wikilovesfolklore.org</a>.
    </p>
    <p>
        By using tools.wikilovesfolklore.org, you agree to abide by the above terms and conditions.
    </p>

</body>

</html>