<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<title>Feedback to the tools</title>
<link rel="stylesheet" href="static/index.css" />
</head>
<body>


<ul class="list p-2 flex border m-2 text-primary flex-col">
  {% if feedbacks %}
  {% for feedback in feedbacks %}


<li>
<article class="shadow-md m-3 odd:bg-slate-50 even:bg-slate-100 p-2">

<h2 class="text-lg">{{feedback['username']}}</h2>


<div class="text-sm flex justify-center flex-col">
  <span>
    UI rating: {{feedback['feedback_ui_score']}}/10
  </span>
  
  <span>
    Performance rating: {{feedback['feedback_speed_score']}}/10
  </span>
</div>
<p>{{feedback['feedback_note']}}</p>
</article>
</li>
  {% endfor %}
  {% endif %}
</ul>
</body>


</html>
