<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Loves Folklore | Dedicated to Folklore</title>
    <meta name="description" content="Wiki Loves Folklore is an international 
    photographic contest organized by Wikimedia community to document folk 
    cultures in different regions of the world." />
    <meta name="keywords" content="Wiki Loves Folklore, Wikimedia Commons, Wikimedia Foundation" />
    <link rel="stylesheet" href="static/index.css">
    <style>
        div#header {
            background-image: url("static/banner.svg");
            background-size: auto 100%;
            animation: simulate 65s alternate infinite linear;
        }
    </style>
</head>

<body class="bg-slate-100 p-3 flex flex-col justify-center font-secondary">
    <div class="flex flex-col justify-center bg-repeat-x bg-center h-96" id="header">
        <div class="mb-5 flex flex-col self-center border-solid bg-white text-black font-lg p-4  h-3/4 w-3/4 sm:w-96">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Wiki_Loves_Folklore_Logo.svg" alt="" srcset=""
                class="mb-5 h-32 ">
            <p class="text-center font-medium font-cursive">
                Tech, Tradition, and Transformation: Wiki's Folklore & Feminism Tools
            </p>
        </div>
    </div>
    {% if not user %}
    <p class="font-primary">
        Welcome to the Wiki Loves Folklore Tools! Explore our collection of tools designed for and by our community.
        To access these tools, simply log in using your Wikimedia account.
        By logging in, you are accepting our
        <a href="/terms" alt="" class="text-primary hover:underline">Terms of Service</a> and
        <a href="/privacy" class="text-primary hover:underline">Privacy Policy</a>.
        Ready to get started? Click the button below to log in.
    </p>
    <div class="flex justify-center mb-3 mt-3">
        <a href="{{login_url}}" class="p-2 w-max rounded bg-primary  text-white hover:bg-secondary  border-slate-400">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Wikipedia-w-white.svg" alt="" srcset=""
                class="w-6 inline-block">
            Login with Wikipedia</a>
    </div>
    {% else %}
    <h1 class="text-3xl font-primary text-center">Welcome <b class="font-bold">{{user['username']}}</b>!</h1>
    <div class="flex justify-center mb-3 mt-3">
        <a href="/user/logout"
            class="p-2 w-36 rounded text-center bg-red-600 text-white hover:bg-opacity-80  border-slate-400">
            Logout
        </a>
    </div>
    {% endif %}
    <hr>
    <h1 class="p-5 self-center text-3xl w-3/4 text-center font-bold font-primary block  mt-6" id="tools">
        TOOLS
    </h1>
    <ul class="flex md:flex-row flex-col justify-center items-center">
        <li class="bg-white flex flex-col self-center text-black justify-center  font-secondary p-6 pt-4 w-96">
            <h1 class="self-center text-2xl mb-2 mt-0 font-bold">
                Article List Generator by Topic
            </h1>
            <p>
                Introducing a powerful tool that identifies articles in the English Wikipedia that are absent from
                your native language Wikipedia. You can customize your selection criteria, and our tool will provide
                you with a table displaying the missing articles along with suggested titles. You also have the
                option to download the list in both CSV and wikitables formats. Explore the gap and enhance your
                language's Wikipedia with ease.
            </p>
            <a href="/fnf" class="w-1/3 mt-2 p-2 self-center font-bold text-xl text-white bg-primary" id="listgen">Launch</a>
        </li>

    </ul>
    {% if stats %}
    <div class="p-5 self-center text-3xl w-3/4 text-center font-bold font-primary hidden md:block  mt-6">
        MILESTONES
    </div>
    <div class="flex  flex-col flex-nowrap justify-center md:flex-row">
        <div class="p-5 self-center text-3xl w-3/4 text-center font-bold font-primary md:hidden">
            MILESTONES
        </div>
        <div class="flex flex-col p-5 border bg-white w-3/4 self-center font-primary">
            <span class="text-3xl text-center font-bold">{{stats['registered_user_count']}}</span>
            <!-- <span class="text-3xl text-center font-bold">1,234</span> -->
            <span class="text-center font-semibold">USERS</span>
        </div>
        <div class="flex flex-col p-5 border bg-white w-3/4 self-center font-primary">
            <span class="text-3xl  text-center font-bold">{{stats['total_tasks']}}</span>
            <!-- <span class="text-3xl  text-center font-bold">456,899</span> -->
            <span class="text-center font-semibold">TASKS</span>
        </div>
        <div class="flex flex-col p-5 border bg-white w-3/4 self-center font-primary">
            <span class="text-3xl text-center font-bold">{{stats['total_categories']}}</span>
            <!-- <span class="text-3xl text-center font-bold">23,7898</span> -->
            <span class="text-center font-semibold">CATEGORIES</span>
        </div>
        <div class="flex flex-col p-5 border bg-white w-3/4 self-center font-primary">
            <span class="text-3xl text-center font-bold">{{stats['total_articles_served']}}</span>
            <!-- <span class="text-3xl text-center font-bold">45,890</span> -->
            <span class="text-center font-semibold">ARTICLES</span>
        </div>


    </div>
    {% endif %}
    <footer class="text-center  mt-3">
        <a href="/privacy" class="text-primary hover:underline">Privacy Policy</a> |
        <a href="/terms" alt="" class="text-primary hover:underline">Terms of Service</a>
    </footer>
</body>

</html>