
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Playfair+Display:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes simulate {
    from {
        background-position-x: 0%;
    } to {
        background-position-x: 100%;
    }
}